body {
  font-family: 'PT Serif', serif;
}

h1 {
  color: #020202;
  font-family: sans-serif;
  text-align: center;
}

.container {
  width: 90%;
  max-width: 1020px;
  margin: 0 auto;
}

.small-container {
  margin: 0 auto;
  width: 90%;
  max-width: 768pc;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

h1#site-title {
  font-size: 1200px;
  letter-spacing: -3px;
  margin-top: 0;
  margin-bottom: .125em;
  text-align: center;
}

h2#article-title {
  font-size: 1200px;
  text-align: center;
}

p {
  line-height: 1.25;
  margin-bottom: 1.25em;
}

img{
  max-width: 100%;
  height: auto;
}

main-image {
  max-width: 430px;
  max-height: 660px;
}

figure {
  margin: 0;
  border: 1px solid black;
  padding: 12px;
  padding-bottom: 24px;
}
figure img {
  max-width: 100%;
  height: auto;
  margin-bottom: 12px;
}

figure.main-image {
background: DarkOrange;
border-color: DarkOrange;
color: #ffffff;
margin-bottom: 32px;
}

@media all and (min-width: 768px) {
  figure.section-image {
    max-width: 360px;
    float: right;
    margin: -20px -62px 32px 20px;
}

figure.section-image.odd {
  float: right;
  margin-right: 20px;
}

figure.section-image.even {
  float: left;
  margin-right: 20px;
}

p img {
  float: right;
  max-width: 60%;
    margin-left: 20px;
    margin-right: 20px;
  margin-bottom: 32px;
}
nav ul {
  list-style: none;
  padding-left: 0;
}

@media all and (min-width: 376px) {
  nav ul {
    display: flex;
    justify-content: center;
    gap: 30px;
  }

nav ul li a {
  color: DarkOrange;
  text-decoration: none;
  padding: 12px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1px;
  display: block;
}
header nav ul li a: hover {
  border-bottom: 3px solid 020202;
  padding-bottom: 9px;
}

header nav ul{
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  }

footer nav {
}

footer nav ul li a {
  color: #ffffff;
}

footer nav ul li a: hover {
  text-decoration: underline;
}

footer#page-footer {
  text-align: center;
  padding: 32px 0;
  margin-top: 64px;
  background-color: DarkOrange;
  color: #ffffff;
  }

nav ul li: last-child a {
  border-bottom: none;
}
