h1 {
  color: #32a852;
  font-family: sans-serif;
  text-align: center
}
p {
  background: #f3fc38;
}
figure {
  border: 1px solid black;
  padding: 12px;
  padding-bottom: 24px;
}
figure img {
  width: 100%
}
p img {
  float: right;
  max-width: 60%
    margin-left: 20px;
  margin-bottom: 32px;
}
nav ul {
  display: flex;
  justify-content: center;
  gap: 30px;
  list-style: none;
  padding-left: 0;
  border-top: 1px solid MediumVioletRed;
  border-bottom: 1px solid MediumVioletRed;
}
nav ul li a {
  color: MediumVioletRed;
  text-decoration: none;
  padding: 12px;
  text-transform: uppercase;
  font-size: 14px
  font-weight: bold;
  letter-spacing: 1px;
  border-bottom: 1px solid MediumVioletRed;
  display: block;
}
nav ul li a: hover {
  border-bottom: 1px solid MediumVioletRed;
  padding-bottom: 9px
}
nav ul li: last-child a {
  border-bottom: none;
}
